@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;
    --muted: 0 0% 89.23%;
    --muted-foreground: 0 0% 45%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;
    --border: 0 0% 86.92%;
    --input: 0 0% 85%;
    --primary: 223.91 83.26% 57.84%;
    --primary-foreground: 0 0% 100%;
    --secondary: 75.63 0% 15.08%;
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 94.62%;
    --accent-foreground: 0 0% 5%;
    --destructive: 1 83% 56%;
    --destructive-foreground: 0 0% 100%;
    --success: 124 61% 57%;
    --success-foreground: 0 0% 0%;
    --warning: 42 95% 50%;
    --warning-foreground: 0 0% 0%;
    --info: 234 100% 59%;
    --info-foreground: 0 0% 100%;
    --ring: 0 0% 85.1%;
    --radius: 0.3rem;
    --chart-1: 220 70% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 11.76%;
    --foreground: 0 0% 98%;
    --muted: 260 0% 18.46%;
    --muted-foreground: 260 5% 49%;
    --popover: 0 0% 11.76%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 11.76%;
    --card-foreground: 0 0% 98%;
    --border: 260 0% 23.85%;
    --input: 255 4% 18%;
    --primary: 223.91 83.26% 57.84%;
    --primary-foreground: 0 0% 100%;
    --secondary: 75.63 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --accent: 24.68 0% 18.46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0.97 100% 60.53%;
    --destructive-foreground: 0 0% 100%;
    --success: 157 100% 25%;
    --success-foreground: 0 0% 100%;
    --warning: 42 95% 50%;
    --warning-foreground: 19 100% 85%;
    --info: 237 100% 25%;
    --info-foreground: 237 100% 85%;
    --ring: 255 4.35% 18.04%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
