@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;
    --muted: 0 0% 89.23%;
    --muted-foreground: 0 0% 45%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;
    --card: 0 0% 98.15%;
    --card-foreground: 0 0% 5%;
    --border: 0 0% 86.92%;
    --input: 0 0% 85%;
    --primary: 260.29 83.33% 49.41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 75.63 0% 15.08%;
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 94.62%;
    --accent-foreground: 0 0% 5%;
    --destructive: 6 89% 55%;
    --destructive-foreground: 0 0% 100%;
    --success: 110 79% 46%;
    --success-foreground: 0 0% 0%;
    --warning: 42 85% 53%;
    --warning-foreground: 0 0% 0%;
    --info: 229 93% 42%;
    --info-foreground: 0 0% 100%;
    --ring: 0 0% 85.1%;
    --radius: 0.3rem;
    --chart-1: 210 60% 40%;
    --chart-2: 190 50% 45%;
    --chart-3: 240 70% 35%;
    --chart-4: 180 80% 50%;
    --chart-5: 230 65% 55%;
    --chart-6: 200 55% 60%;
    --chart-7: 210 75% 50%;
    --chart-8: 160 80% 40%;
    --chart-9: 180 60% 55%;
    --chart-10: 220 50% 45%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .dark {
    --background: 0 0.09% 7.07%;
    --foreground: 0 0% 98%;
    --muted: 260 0% 18.46%;
    --muted-foreground: 260 0% 62%;
    --popover: 0 0% 7.84%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 10.59%;
    --card-foreground: 0 0% 98%;
    --border: 260 0% 18.15%;
    --input: 255 0% 21.54%;
    --primary: 260.38 83.16% 49.39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 75.63 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --accent: 24.68 0% 18.46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 6 89% 55%;
    --destructive-foreground: 0 0% 100%;
    --success: 110 79% 46%;
    --success-foreground: 0 0% 100%;
    --warning: 42 85% 53%;
    --warning-foreground: 19 100% 85%;
    --info: 229 93% 42%;
    --info-foreground: 235 93% 79%;
    --ring: 255 4.35% 18.04%;
    --chart-1: 210 60% 40%;
    --chart-2: 190 50% 45%;
    --chart-3: 240 70% 35%;
    --chart-4: 180 80% 50%;
    --chart-5: 230 65% 55%;
    --chart-6: 200 55% 60%;
    --chart-7: 210 75% 50%;
    --chart-8: 160 80% 40%;
    --chart-9: 180 60% 55%;
    --chart-10: 220 50% 45%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .theme {
    --animate-shine: shine var(--duration) infinite linear;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@theme inline {
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}
