@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;
    --muted: 0 0% 89.23%;
    --muted-foreground: 0 0% 45%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;
    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --primary: 194.68 100% 55.1%;
    --primary-foreground: 0 0% 5.1%;
    --secondary: 0 0% 15.85%;
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 94.62%;
    --accent-foreground: 0 0% 5%;
    --destructive: 5 62% 60%;
    --destructive-foreground: 0 0% 0%;
    --success: 90 62% 60%;
    --success-foreground: 90 62% 0%;
    --warning: 38 62% 60%;
    --warning-foreground: 38 62% 0%;
    --info: 236 62% 60%;
    --info-foreground: 0 0% 100%;
    --ring: 194.67 100% 55.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3.23% 6.08%;
    --foreground: 0 0% 98%;
    --muted: 260 0% 18.46%;
    --muted-foreground: 260 5% 49%;
    --popover: 270 6% 7%;
    --popover-foreground: 0 0% 98%;
    --card: 240 3.23% 6.08%;
    --card-foreground: 0 0% 98%;
    --border: 260 4.92% 11.96%;
    --input: 255 4% 18%;
    --primary: 194.67 100% 55.1%;
    --primary-foreground: 0 0% 5.1%;
    --secondary: 255 0% 85.85%;
    --secondary-foreground: 0 0% 5.85%;
    --accent: 24.68 0% 18.46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 1 62% 23%;
    --destructive-foreground: 1 62% 83%;
    --success: 125 62% 23%;
    --success-foreground: 125 62% 83%;
    --warning: 53 62% 23%;
    --warning-foreground: 53 62% 83%;
    --info: 197 62% 23%;
    --info-foreground: 197 62% 83%;
    --ring: 194.67 100% 55.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
